<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" />

    <title>
        Titanface - {% block title %}{% endblock %} 
    </title>

    <link rel="stylesheet" href="/static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css">

    <!-- Specific Plugin CSS goes HERE -->
    {% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

    <link rel="stylesheet" href="/static/assets/css/style.css">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

  </head>
  <body>
    <div class="container-scroller">

      {% include 'includes/sidebar.html' %}

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">

        <!-- partial:partials/_navbar.html -->
        {% include 'includes/navigation.html' %}

        <!-- partial -->
        <div class="main-panel">

          {% block content %}{% endblock content %}  

          {% include 'includes/footer.html' %}

        </div>
        <!-- main-panel ends -->

      </div>
      <!-- page-body-wrapper ends -->
      
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->

    <!-- Specific Plugin JS goes HERE  -->
    {% block plugin_javascripts %}{% endblock plugin_javascripts %}

    <!-- inject:js -->
    <script src="/static/assets/js/off-canvas.js"></script>
    <script src="/static/assets/js/hoverable-collapse.js"></script>
    <script src="/static/assets/js/misc.js"></script>
    <script src="/static/assets/js/settings.js"></script>
    <script src="/static/assets/js/todolist.js"></script>
    <!-- endinject -->

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

  </body>
</html>
