{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Face Detection {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}
    <!-- Plugin css for this page -->
{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    
    
{% endblock stylesheets %}

{% block content %}
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Detección de rostros desde webcam</h3>
        </div>

        <div class="row">
            <div class="col-lg-12 mx-auto grid-margin stretch-card text-center">
                <div class="card">
                    <div class="card-body">
                        <img id="video" src="{% url 'video_viewer' %}" />
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %} {% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    
    
{% endblock javascripts %}
