{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Face Detection {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}
    <!-- Plugin css for this page -->
{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/assets/css/app/faced_fromimage.css">
{% endblock stylesheets %}

{% block content %}
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Detección de rostros en imagenes</h3>
        </div>

        <div class="row">
            <div class="col-lg-8 mx-auto grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-description"> Subir una imagen que contenga al menos un rostro </p>

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <!-- Upload image input-->
                            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                <input name="file" id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                                <label id="upload-label" for="upload" class="font-weight-light text-muted">Seleccionar Imagen</label>
                                <div class="input-group-append">
                                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                                            class="mdi mdi-cloud-upload mr-2 text-muted"></i><small
                                            class="text-uppercase font-weight-bold text-muted">Choose
                                        File</small></label>
                                </div>
                            </div>

                            <!-- Uploaded image area-->
                            <p class="font-italic text-white text-center">La imagen cargada se rederizará dentro del cuadro.</p>
                            <div class="image-area mt-4"><img id="imageResult" src="{{ img_url }}" alt=""
                                                              class="img-fluid rounded shadow-sm mx-auto d-block"></div>

                            <!-- Send to server -->
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary btn-icon-text" name="detect">
                                    <i class="mdi mdi-file-check btn-icon-prepend"></i> Detectar Rostros
                                </button>
                                <button type="submit" class="btn btn-primary btn-icon-text" name="recognize">
                                    <i class="mdi mdi-file-check btn-icon-prepend"></i> Reconocer Rostros
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %} {% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/js/app/faced_fromimage.js"></script>
{% endblock javascripts %}
